In [1]:
!pip install googletrans==4.0.0-rc1

Requirement already satisfied: googletrans==4.0.0-rc1 in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (4.0.0rc1)
Requirement already satisfied: httpx==0.13.3 in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from googletrans==4.0.0-rc1) (0.13.3)
Requirement already satisfied: httpcore==0.9.* in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.1)
Requirement already satisfied: idna==2.* in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: hstspreload in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2024.6.1)
Requirement already satisfied: rfc3986<2,>=1.3 in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.5.0)
Requirement already satisfied: certifi in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2023.7.22)
Requirement already satisfied: sniffio in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.2.0)
Requirement already satisfied: chardet==3.* in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Requirement already satisfied: h2==3.* in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.0)
Requirement already satisfied: hpack<4,>=3.0 in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /Users/maddhujasen27/opt/anaconda3/envs/tensorflow/lib/python3.9/site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (5.2.0)

In [2]:
import pickle
from googletrans import Translator

In [3]:
#Reading the file
file_name = 'ips.pkl'

with open(file_name, 'rb') as f:
  data = pickle.load(f)

In [4]:
data.head()

,companyName,companyUrl,jobTitle,dateRange,location,description,logoUrl,label
id,,,,,,,,
548398365_0,TEHTRIS,https://www.linkedin.com/company/tehtris/,R&D Cybersecurity Consultant,oct. 2021 – Aujourd’hui,"Bordeaux, Nouvelle-Aquitaine, France",None,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,NaN
548398365_1,CHEOPS TECHNOLOGY,https://www.linkedin.com/company/cheops-techno...,Ingénieur en data mining,sept. 2020 – sept. 2021,"Bordeaux, Nouvelle-Aquitaine, France",None,https://media-exp1.licdn.com/dms/image/C560BAQ...,2.0
551303934_0,ALTEN,https://www.linkedin.com/company/alten/,Stagiaire ingénieur en intelligence artificiel...,juil. 2021 – Aujourd’hui,"Rennes, Bretagne, France",Conception et programmation pour une plateform...,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,4.0
551303934_1,FRANCE SECURITE,https://www.linkedin.com/company/france-securite/,Stagiaire en développement logiciel,juin 2019 – août 2019,"Bordeaux, Aquitaine, France",Développement et mises à jour d’applications c...,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,2.0
551303934_2,OASU (Observatoire Aquitain des Sciences de l'...,None,Stagiaire en développement Web,avr. 2018 – juin 2018,"Bordeaux, Aquitaine, France",Création et évolution d’une application Web d’...,,1.0

In [5]:
#dropping the unwanted columns
df = data.drop(columns=[ 'companyName','companyUrl','location','dateRange','logoUrl'])
df.head()

,jobTitle,description,label
id,,,
548398365_0,R&D Cybersecurity Consultant,None,NaN
548398365_1,Ingénieur en data mining,None,2.0
551303934_0,Stagiaire ingénieur en intelligence artificiel...,Conception et programmation pour une plateform...,4.0
551303934_1,Stagiaire en développement logiciel,Développement et mises à jour d’applications c...,2.0
551303934_2,Stagiaire en développement Web,Création et évolution d’une application Web d’...,1.0

In [6]:
df.shape

(11287, 3)

In [7]:
df['jobTitle'].fillna('', inplace=True)
df['description'].fillna('', inplace=True)
df.head()

,jobTitle,description,label
id,,,
548398365_0,R&D Cybersecurity Consultant,,NaN
548398365_1,Ingénieur en data mining,,2.0
551303934_0,Stagiaire ingénieur en intelligence artificiel...,Conception et programmation pour une plateform...,4.0
551303934_1,Stagiaire en développement logiciel,Développement et mises à jour d’applications c...,2.0
551303934_2,Stagiaire en développement Web,Création et évolution d’une application Web d’...,1.0

In [8]:
df = df.dropna(subset=['label'])
df = df.reset_index(drop=True)
df.shape

(7587, 3)

In [9]:
#df = df.sample(3000, random_state=1)  # random_state is set for reproducibility
#df = df.reset_index(drop=True)
#df.shape

(500, 3)

In [10]:
df['jobTitle'] = df['jobTitle'].apply(lambda x: translator.translate(x, src='fr', dest='en').text)
df['description'] = df['description'].apply(lambda x: translator.translate(x, src='fr', dest='en').text)

In [12]:
df.head()

,jobTitle,description,label
0,Study and developpement engineer,,0.0
1,CEO Manager Datacub Agency Lille,DATACUB est né de l'association d'un Expert en...,2.0
2,Continuous improvement engineer internship,Déploiement de la culture performance avec:\n\...,0.0
3,Data Scientist,Creation and deployment of a suite of algorith...,4.0
4,"Object Languages ​​Developer, Databases",Informaticien salle de marchés\nDéveloppements...,1.0

In [13]:
french_text = "Bonjour tout le monde"

# Translate text from French to English
translation = translator.translate(french_text, src='fr', dest='en')

# Print the original French text and its translation
print("Original French Text:", french_text)
print("Translated English Text:", translation.text)

Original French Text: Bonjour tout le monde
Translated English Text: Hello everybody